@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


/* slector universal (para toda la página) */
*{
    margin: 70;
}

/* FORMULARIO */
/* body{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
} */


nav{
    text-align: end;
    /* padding: 20px; */
    margin-right: 70px;
    text-decoration: none;
}

.infoTop{
    text-decoration: none;
    margin-top: 100px;
}

.fondo{
    background: url(../img/cafe.jpg);
    background-size: cover;
    height: 600px;
    position:relative;
}

.fotoCv{
    /* copiado de web que da formas para imágenes: bennettfeely.com/clippy/ */
    clip-path: circle(50% at 50% 50%);
    margin-top: 20%;
    margin-left: 100px;
    position:absolute;
    width: 350px;
    height: 350px;
    
}

.columna{
    background: rgb(238, 92, 24);
    color: rgb(0, 0, 0);
    padding: 20px;
    width: 25%;
    margin: 10px;
}
.padre{
    display: flex;
}

.centrado{
    margin:10px auto;
    display:block;
}

.fab{
    width: 20px;
    text-align: center;
    font-size: 24px;
}



h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* distancia superior */
    padding: 20px 20px; 
    width: 10;
    /* distancia izquierda texto */
    margin: 50px;
}

.datosPrincipales{
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    background: #55e7ad;
    height: 220px;
    width: 700px;
    padding: 10px;
    margin: 70px;
    margin-top: 12%;
    
}

 #info-profesion{
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}




