/* slector universal (para toda la página) */
*{
    margin: 70;
}


nav{
    text-align: end;
    background: rgb(0, 225, 255);
    padding: 20px;
    text-decoration: none;
}
.columna{
    background: rgb(238, 92, 24);
    color: rgb(0, 0, 0);
    padding: 20px;
    width: 25%;
    margin: 10px;
}
.padre{
    display: flex;
}

.centrado{
    margin:10px auto;
    display:block;
}

.fab{
    width: 20px;
    text-align: center;
    font-size: 24px;
}

.social{
    /* para que no se mueva de la pantalla */
position: fixed;
/* para que se vaya a la izquierda */
left: -40px;
/* para que quede más abajo */
top: 300px;
}

.social ul{
    /* quitar los puntos */
    list-style: none;
}

.social a{
    /* para que quede en bloque, línea */
    display: inline-block;
    /* paar que no tenga subrayado */
    text-decoration: none;
    color: white;
    padding:15px 30px;
    z-index: 0;
    /* transición; segundos */
    transition: 0.1s ease;
    
}

.fa-facebook{
    background: #3b5998;
}

.fa-linkedin{
    background: #0e76a8;
}

.fa-whatsapp{
    background: #25d366;
}

.fa-instagram{
    background: #f09433;
}

/* para ensanchar los iconos cuando pasa el mousse */
.social a:hover{
padding: 15px 35px;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* distancia superior */
    padding: 20px 20px; 
    width: 10;
    /* distancia izquierda texto */
    margin: 50px;
}

.datosPrincipales{
    border: 10px solid #3EC483;
    background: #5DEAA8;
    height: 220px;
    width: 700px;
    padding: 10px;
    margin: 70px;
}

 #info-profesion{
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}

/* #info-imagen{
    border-radius: 50%;
} */